.channel {
  // height: 200px;
  margin: 0px;
}

.grid-container {

}

.bordered-cell {
  display: inline-block;
  border: 1px solid #afafaf;
  height: 75px;
}

.grid-cell {
  display: inline-block;
  width: 150px;
}